<!DOCTYPE html>
<html>
<head>
    <title>Kalp Krizi Tahmin Sistemi</title>
</head>
<body>

<h1>❤️ Kalp Krizi Tahmin Sistemi</h1>

<form action="/predict" method="post">

    <label>Yaş:</label><br>
    <input type="number" name="yas"><br><br>

    <label>Cinsiyet (1=Erkek, 0=Kadın):</label><br>
    <input type="number" name="cinsiyet"><br><br>

    <label>Göğüs Ağrısı (0-3):</label><br>
    <input type="number" name="gogus_agrisi"><br><br>

    <label>Tansiyon:</label><br>
    <input type="number" name="tansiyon"><br><br>

    <label>Kolesterol:</label><br>
    <input type="number" name="kolesterol"><br><br>

    <label>Kan Şekeri (0/1):</label><br>
    <input type="number" name="kan_sekeri"><br><br>

    <label>EKG (0-2):</label><br>
    <input type="number" name="ekg"><br><br>

    <label>Max Nabız:</label><br>
    <input type="number" name="max_nabiz"><br><br>

    <label>Egzersiz Anjina (0/1):</label><br>
    <input type="number" name="egzersiz_anlina"><br><br>

    <label>ST Depresyon:</label><br>
    <input type="number" step="any" name="st_depresyon"><br><br>

    <label>Eğim (0-2):</label><br>
    <input type="number" name="egim"><br><br>

    <label>Damar Sayısı (0-3):</label><br>
    <input type="number" name="damar_sayisi"><br><br>

    <label>Thal (1-3):</label><br>
    <input type="number" name="thal"><br><br>

    <button type="submit">Tahmin Yap</button>

</form>

</body>
</html>